body{
	padding: 0 0 0 0;
	margin: 0;
		font-family: 'Poppins',bold;
}

header{

	font-family: 'Poppins',bold;
	font-weight: 700;

}

.logo-container{
	margin-top: 20px;
	width: 100%;
	padding-left: 25px;
}

.number h1{
	margin-top: 0;
	font-size: 52px;
}

.signup{
	text-decoration: none;
	color: hsl(322, 100%, 66%);
	float: right;
	display: inline-block;
	padding: 5px 25px 5px 25px;
	border: 1px solid hsl(322, 100%, 66%);
	border-radius: 20px 20px;
	margin-right: 5.5%;
}

.hero{

	width: 80%;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-top: 8%;
}

.logo{
margin-left: 7%;
}

.heading{
	color: hsl(192, 100%, 9%);
	margin-bottom: 2%;
}

.t1{

		font-size: 52px;
		font-weight: 700;
}

.desc{
	width: 45%;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	color: hsl(192, 100%, 9%);
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

	.desc{
		width: 95%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

	.desc{
		width: 95%;
	}
}

.cta{

	text-decoration: none;
	background-color: hsl(322, 100%, 66%);
	color: white;
	font-size: 20px;
	padding: 20px 75px 20px 75px;
	border-radius: 50px 50px;
	position: relative;
	display: inline-block;
	margin-top: 15px;

}

.cta:hover{
	background-color: #ca5cdb;
}

.mockup{
	position: relative;
	margin-top: 6%;
}

.s-mockup{
display: inline-block;
position: relative;
left: 50%;
transform: translate(-50%);
width: 80%;


}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

	.s-mockup{
		width: 50%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

	.s-mockup{
		width: 50%;
	}
}





.grow{

	z-index: 1;
	font-family: 'Poppins',bold;
	
}

.section-top {
	
	width: 100%;
	display: block;	
	height: 22vh;
	content: "";
	background:url(images/bg-section-top-desktop-1.svg);
	background-size:cover;
	position: relative;
	margin-bottom:-2%;
	z-index: 3;

}

.section-bottom {
	
	width: 100%;
	display: block;	
	height: 22vh;
	content: "";
	background:url(images/bg-section-bottom-desktop-1.svg);
	background-size:cover;


	z-index: 3;

}

.section-content{
	position: relative;
		background-color: hsl(207, 100%, 98%);
	display: block;
	width: 100%;
	margin-top: 0px;
	padding-top: 55px;
	padding-bottom: 25px;
	  content: "";
    clear: both;
    display: table;
    color: hsl(192, 100%, 9%);
	
}

.img-grow{
	float: right;
	width: 30%;
	height: auto;
	margin-right: 6%;
}

.text-cont{
	position: absolute;
	left: 10%;
	top:20%;
}

.sectpar {
	width: 50%;
	margin-top: -20px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

.text-cont{
	top:0;
}

}

.sect-heading{
	font-weight: 700;
	font-size: 48px;
	color: hsl(192, 100%, 9%);
	font-weight: 700;
	
}

.top-2{

	background:url(images/bg-section-top-desktop-2.svg);
	background-size: cover;

}

.bot-2{

	background:url(images/bg-section-bottom-desktop-2.svg);
	background-size:cover;

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

	.section-top{

			background:url(images/bg-section-top-mobile-1.svg);
			background-size:cover;

	}

	.section-bottom{
		background:url(images/bg-section-bottom-mobile-1.svg);
		background-size:cover;
	}


.top-2{

	background:url(images/bg-section-top-mobile-2.svg);
	background-size: cover;
}

.bot-2{

	background:url(images/bg-section-bottom-mobile-2.svg);
	background-size:cover;
}
}

.numbers{
	margin:10% 0 2% 0;
}

.number{
	position:relative;
	width: 48%;
	display: inline-block;
	text-align: center;
	font-family: 'Poppins',bold;
	
}

.number:not(:last-child){
	margin-bottom: 10%;
}

.smallimg{

position: absolute;
    top: -30%;
    left: 40%;


}

.number h1{
	font-size: 80px;
	margin-bottom: 0;
	color: hsl(192, 100%, 9%);
	font-weight: 700;
	margin-top: 0;
	
}

.number p{
	margin-top: 0;
	color: #848484;
}

.text-cont-right{
	margin-right: 2%;
	float: right;
	width: 40%;
	margin-top: 2%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

	.text-cont-right{
		width: 50%;
		margin-top: -6%;
	}
}

.conv{

	  content: "";
    clear: both;
    display: table;
    text-align: left;
}

.conv img{
	width: 30%;
	height: auto;
	float: left;
	margin-left: 5%;
}

.conv p{
	width: 100%;
}

.conv h1{
	margin-bottom: 0;
}

.lastcta{
	font-family: 'Poppins',bold;
	text-align: center;
	margin-bottom: 9%;

}

.t2{

		font-size: 35px;
		font-weight: 700;
}

.foot-curve{
	
	 background-position: cover;
	 width: 100%;
	}

	.foot-curve img {
		width: 100%;
		vertical-align: bottom;
	}

.foot-cont{
	background-color: #00252e;
	padding-bottom: 5%;
	margin-top: -0.5%;
	
}

.foot-col{
	width: 35%;
	padding-top: 15px;
	padding-left: 12%;
	color: white;
	position: relative;
	display: inline-table;

}

.foot-col p{
	width: 55%;
	margin-top: 12px;
	position: relative;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

.foot-cont{
	margin-top: -0.5%;
	
}

.foot-col p{
	width: 90%;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

.foot-col p{
	width: 90%;
}

}

.foot-col p span{
	margin-right: 25px;
}

.foot-col h2{
	font-size: 32px;
}

.logo2{
	text-align: center;
	display: inline;
}

i{
	font-size: 24px;
	margin-right: 16px;
	margin-top: 15px;
	cursor: pointer;
}

i:hover{
	color: hsl(322, 100%, 66%);

}

.email{
		margin-top: 20px;
	width: 45%;
	height: 35px;
	border-radius: 5px;
	border:none
	margin-right: 12px;

}

button{
	
	font-family: 'Poppins',bold;
	padding: 6px 30px 6px 30px;
		color:white;
		font-size: 16px;
	background-color: hsl(322, 100%, 66%);
	border-radius: 5px;
	border:none;
	cursor:pointer;

}

.conv h1 {
    margin-bottom: 36px;
}

button:hover{
	background-color: #ca5cdb;

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {


  		.s-mockup{
		width: 50%;
	}

	.section-content{
		margin-top: 25px;
	}

		.desc{
		width: 95%;
	}

	.t1{
		font-size: 36px;
	}

	.t2{
		font-size: 36px;
	}

	.signup{
		margin-right: 0;
	}

	.hero{
		width: 100%;
	}

	.number{
	width: 100%;
	}

		.section-top{

			background:url(images/bg-section-top-mobile-1.svg);
			background-size:cover;

	}

	.section-bottom{
		background:url(images/bg-section-bottom-mobile-1.svg);
		background-size:cover;
	}


.top-2{

	background:url(images/bg-section-top-mobile-2.svg);
	background-size: cover;
}

.bot-2{

	background:url(images/bg-section-bottom-mobile-2.svg);
	background-size: cover;
	

}

.logo{
	width:40%;
}

.logo-container{
	padding-left: 0;
	width: 100%;

}

.hero{
	width: 100%;
	left: 0;
	transform: translate(0);
}

.desc{
	font-size: 12px;
	width: 95%;
}

.signup{
	margin-right: 5%;
}



.cta{
	font-size: 16px;
	padding: 15px 50px 15px 50px
}

.text-cont{
	position: relative;
	left: 0;
}

.img-grow{
	   width: 90%;
    float: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.sectpar{
	width: 90%;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.sect-heading{
	font-size: 36px;
	text-align: center;
}

.text-cont-right{
	width: 100%;
	float: none;
}

.no-curve img{
	float: none;
	width: 100%;
	margin-left: 0;
}



.foot-col{
	text-align: center;
		padding-left: 0;
	width: 100%;
	
}

.foot-cont{

	padding-left: 15px;
	padding-right: 15px;

}

.foot-col p{
	width: 100%;
	font-size:14px;

}

.section-content{
	margin-top: 0;
}

.email{
	width: 90%;
	text-align: right;
}

button{
	margin: 3% 5%;
    float: right;
}

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	.sect-heading{
  		font-size: 36px;
  	}
  }